<ul class="nav navbar-nav">
    <li class="active">
        <div class="btn-group" role="group">
            <div *ngIf="isLoggedIn; else login"><!--if-->
                <button class="btn btn-outline-danger reg">{{ userName }}</button>
                <button class="btn btn-primary log"
                    (click)="onLogOut()">Logout</button>
            </div>
            <ng-template #login> <!--else-->
                <button type="register" class="btn btn-danger reg" data-toggle="modal" data-target="#regModal"
                        (click)="onRegister()">
                  Register
                </button>
                <button type="login" class="btn btn-primary log" data-toggle="modal" data-target="#loginModal"
                        (click)="onLogIn()">
                  Login
                </button>
            </ng-template>
        </div>
    </li>
</ul>
